
<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Time to start a new workout</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-select fxFlex="50%" placeholder="Favorite food">
                <mat-option value="crunches">crunches</mat-option>
                <mat-option value="touch-toes">Touch toes</mat-option>
                <mat-option value="side-lunges">Side Lunges</mat-option>
                <mat-option value="burpess">Burpees</mat-option>
            </mat-select>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" (click)="onStartTraining()" mat-button color="accent">submit</button>
        </mat-card-actions>
    </mat-card>    
</section>
